<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='../static/css/style.css')}}">
    <title>New Recipe</title>
</head>
<body>
    <header>
        <h1>New Recipe</h1>
        <nav>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <div class="content">
        <div class="editDisplay">
            <form action="/recipes/new/create" method="post">
                <div class="formWrapper">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="">
                </div>
                <div class="formWrapper">
                    <label for="description">Description: </label>
                    <textarea name="description" cols="50" rows="5"></textarea>
                </div>
                <div class="formWrapper">
                    <label for="instructions">Instructions: </label>
                    <textarea name="instructions" cols="50" rows="10"></textarea>
                </div>
                <div class="formWrapper">
                    <label for="date_made">Date Made On:</label>
                    <input type="date" name="date_made" id="">
                </div>
                <div class="radioWrapper">
                    <p>Under 30 minutes?</p>
                    <input type="radio" name="under_30_min" id="y" value="y" checked="checked">
                    <label for="y">Yes</label>
                    <input type="radio" name="under_30_min" id="n" value="n">
                    <label for="n">No</label>
                </div>
                <button type="submit">Create</button>
            </form>
            {% with errors = get_flashed_messages(category_filter=["recipe_error"]) %}
                {% if errors %}
                    {% for message in errors %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>